@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url(../images/site/small_check.jpg);
  margin: 3rem;
  font-family: "Philosopher", sans-serif;
}

header, nav, main, footer {
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.siteName a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #000;
}

#tools {
  font-size: 1.25rem;
  align-self: center;
}

#tools a {
  text-decoration: none;
  color: #000;
}

nav {
  padding: 0.5rem;
  align-content: center;
  background-color: #FFB100;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

/* Edge of Tomorrow time stamp 46.32 */

footer {
  margin-top: -1rem;
  padding-top: 1rem;
}

main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  grid-column: 1/3;
}

.delor-box {
  grid-column: 1/3;
  position: relative;
}

.delor-img {
  margin-left: 10%;
  width: 80%;
  max-width: 800px;
}

.delorean {
  background-color: rgba(255, 177, 0, 0.6);
  padding: 0 1rem;
  margin-left: 2rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.delorean h2 {
  font-size: 1.75rem;
}

.delorean p {
  font-size: 1.25rem;
}

button {
  padding: 1rem;
  width: 80%;
  margin: 0 10% 1rem 10%;
  font-size: 1.25rem;
}

.upgrades {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrades h3 {
  grid-column: 1/3;
}

.flux, .decal, .sticker, .hubcap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.upgrades img {
  height: 80px;
  background-color: #FFB100;
  padding: 0.5rem; 
}

.reviews {
  grid-column: 2/3;
}

.upgrades h3, .reviews h3 {
  padding: 1rem;
  font-size: 1.25rem;
}

#inv-detail {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#inv-detail img {
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
}

.titlePrice, .details {
  grid-column: 2/3;
  padding-left: 1rem;
}

.login, 
.register {
  background-color: #FFB100;
  padding: 1rem;
  align-content: center;
  justify-self: center;
  border: 5px solid #000;
}

.login label, 
.register label,
.addClass label,
.addInv label,
.updateAccount label,
.changePassword label {
  display: block;
  padding-top: 1rem;
}

.login input[type="email"], 
.login input[type="password"],
.register input[type="text"],
.register input[type="email"],
.register input[type="password"],
.addClass input[type="text"],
.addInv input[type="text"],
.addInv input[type="number"],
#classificationList,
.updateAccount input[type="text"],
.updateAccount input[type="email"],
.changePassword input[type="password"] {
  display: block;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.8rem;
  width: 90%;
  max-width: 400px;
}

.requirements {
  font-size: 0.9rem;
}

.login input[type="submit"],
.register input[type="submit"],
.updateAccount input[type="submit"],
.changePassword input[type="submit"] {
  border: 2px solid;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 50%;
  max-width: 300px;
  background-color: #fff;
}

.updateAccount input[type="submit"],
.changePassword input[type="submit"] {
  background-color: #FFB100;
}

.updateAccount fieldset,
.changePassword fieldset {
  border: 6px double #FFB100;
  border-radius: 1rem;
}

.updateAccount legend,
.changePassword legend {
  font-size: 1.25rem;
  font-weight: bold;
}

.changePassword {
  margin-top: 1.5rem;
}

.managementLinks a {
  display: block;
  padding: 0.5rem;
}

.welcome-msg {
  grid-column: 1/3;
}

.addClass,
.addInv {
  padding: 1rem;
  border: 5px solid #000;
  margin: 0 2rem;
}

.addClass input[type="submit"],
.addInv input[type="submit"] {
  border: 2px solid;
  border-radius: 10px;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 50%;
  max-width: 300px;
  background-color: #FFB100;
}

@media screen and (max-width: 775px) {
  body {
    margin: 0;
    background-image: none;
  }

  .siteName a {
    font-size: 1.5rem;
  }

  #tools a {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .delorean img {
    max-width: 500px;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .delorean {
    padding: 0 0.5rem;
    margin-left: 1rem;
    position: absolute;
    bottom: 0;
    left: 0.5rem;
  }

  .delorean h2, .delorean p {
    margin: 0.5rem 0;
  }

  .delorean h2 {
    font-size: 1.25rem;
  }

  .delorean p {
    font-size: 1rem;
  }

  button {
    padding: 0;
    margin: 0 20% 1rem 20%;
    width: 60%;
    font-size: 1rem;
  }

  #inv-detail {
    display: flex;
    flex-direction: column;
  }
}